
$startPage: url('../../assets/highQ/Bojeng12.jpg');
$secondStartPage: url('../../assets/highQ/Bojeng12.jpg');
$thirdStartPage: url('../../assets/highQ/Bojeng12.jpg');

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &:nth-child(1){
    background-image: $startPage;
      // scroll-snap-align: start;
    background-size: cover;      
    background-repeat: no-repeat;
  }
}

.container {
 width: 100%;
 height: 100vh;
 scroll-behavior: smooth;
 overflow: auto;
 scroll-snap-type: y proximity;
 display: flex;
 flex-direction: column;

}

.content {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center; /* Center items vertically */
}

.header {
  cursor: pointer;
  
  &__bojeng{
    text-align: center;
    font-family: 'Righteous', cursive;
    color: orange;
    font-size: 10em;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    opacity: 0;
    &:hover {
      color: red;
    }

    &--fade-in{
      animation: fadeIn 1s ease-in-out forwards; 
    }
    &--fadeout{
      animation: fadeOut 1s ease-in-out forwards; 
    }
  }
}





.sidebar {
  width: 30%;
  &--nav{
  background-color: rgba(255, 165, 0, 0.8);
  border: 4px solid rgba(255, 136, 0, 0.8);
  padding: 20px;
  padding-right: 60px;
  width: fit-content;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5em;
  top: 40%;
  margin-left: 20px;
  justify-content: space-evenly;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInSidebar 3s ease-in-out forwards; 
  margin-left: auto;
  .active{
    background-color: rgba(153, 101, 5, 0.8);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  }

}

.main-content {
  width: 65%;

  .init__header {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    &--fadeout{
      animation: fadeOutMain 0.5s ease-in forwards;
    }
  
    &__bojeng{
      cursor: pointer;
      text-align: center;
      font-family: 'Righteous', cursive;
      color: orange;
      font-size: 16em;
      width: fit-content;
      font-weight: bold;
      padding: 10px;
      margin-top: 10px;
      opacity: 1;
      // animation: none; /* Disable the animation on hover */
      // transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
      animation: zoomInitAnimation 3s ease-in forwards;

    }
  }
}


@keyframes fadeOutMain {
  0% {
    opacity: 1;
    position: absolute;
    margin-left: 31rem;

  }
  90% {
    opacity: 0;
    position: absolute;
    margin-left: 31rem;
  }
  100% {
    opacity: 0;
    display: none;
    margin-left: 31rem;
  }
}


@keyframes zoomInitAnimation {
  0% {
    margin-top: -200px;
    margin-left: -500px;
    transform: scale(2.5);

  }
  80% {
    margin-top: -200px;
    margin-left: -500px;
    transform: scale(2.5);
  }
  85% {
    margin-top: -200px;
    margin-left: -500px;
    transform: scale(2.6);
  }
  100% {
    margin-top: 0px;
    margin-left: 0px;
    transform: scale(1);
  }
}
 

  
  @keyframes fadeInSidebar {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
    85% {
      opacity: 0; /* Start with opacity 0 */
    }
    100% {
      opacity: 1; /* Fade in to opacity 1 */
    }
  }


  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
     100% {
      opacity: 1; /* Fade in to opacity 1 */
    }
  }


  @keyframes fadeOut {
    0% {
      opacity: 1; /* Start with opacity 0 */

    }
    100% {
      opacity: 0; /* Fade in to opacity 1 */
      
    }
  }

  .category{
    display: none;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: orange;
    font-size: 16em;
    font-size: bold;
    &--active{
      display: flex;
      justify-content: space-evenly;
      animation: fadeIn 1s ease-in forwards;
    }
    &__section {
      background-color: #ddd;
      margin-left: 40px;
      width: 100%;

    }
  }