
$startPage: url('../../assets/highQ/Bojeng12.jpg');
$secondStartPage: url('../../assets/highQ/Bojeng12.jpg');
$thirdStartPage: url('../../assets/highQ/Bojeng12.jpg');

.container {
  background-image: $startPage;
  // scroll-snap-align: start;
  background-size: cover;      
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y proximity;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center; /* Center items vertically */
  margin-top: -200px;
}









@keyframes fadeOutMain {
  0% {
    opacity: 1;
    position: absolute;
    margin-left: 31rem;

  }
  90% {
    opacity: 0;
    position: absolute;
    margin-left: 31rem;
  }
  100% {
    opacity: 0;
    display: none;
    margin-left: 31rem;
  }
}

 

  
  @keyframes fadeInSidebar {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
    85% {
      opacity: 0; /* Start with opacity 0 */
    }
    100% {
      opacity: 1; /* Fade in to opacity 1 */
    }
  }


  @keyframes fadeIn {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
     100% {
      opacity: 1; /* Fade in to opacity 1 */
    }
  }


  @keyframes fadeOut {
    0% {
      opacity: 1; /* Start with opacity 0 */

    }
    100% {
      opacity: 0; /* Fade in to opacity 1 */
      
    }
  }

  .category{
    display: none;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: orange;
    font-size: 16em;
    font-size: bold;
    &--active{
      display: flex;
      justify-content: space-evenly;
      animation: fadeIn 1s ease-in forwards;
    }
    &__section {
      background-color: rgba(255, 181, 42, 0.3);

      margin-left: 40px;
      width: 100%;

    }
  }