@import 'https://fonts.googleapis.com/css?family=Lato:100';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

body {
    background: transparent; /* Make it white if you need */
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(120deg, #2c2e3b, var(--clr-bg), var(--clr-bg), #072c94,  #2c2e3b );
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
  }
  
  .App {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }



@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
