@charset "utf-8";

@font-face {
  font-family: 'Sooky70s';
  src: url('../../public/fonts/Sooky70s.ttf') format('truetype');
}

@font-face {
  font-family: 'TerminaTest';
  src: url('../assets/font/TerminaTest-Black.otf') format('opentype');
  font-weight: 900; // eller vad som är korrekt för just den fonten
  font-style: normal;
}
