@charset "utf-8";

@font-face {
  font-family: 'Sooky70s';
  src: url('../../public/fonts/Sooky70s.ttf') format('truetype');
}

@font-face {
  font-family: 'TerminaTest';
  src: url('../assets/font/TerminaTest-Black.otf') format('opentype');
  font-weight: 900; // eller vad som är korrekt för just den fonten
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: 'Lato', Arial, sans-serif;
}

button {
  text-transform: uppercase;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > .z-index--1 {
    z-index: 1;
  }
}

.z-index--1 {
  z-index: 1;
}

.start-content {
  flex: 1;
  display: flex;

  header {
    margin: 20px;
  }

  &--center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.background__bojeng-album {
  position: absolute;
  width: 100%;
  @media (max-width: 768px) {
    position: relative;
  }
}

.gif-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-gif {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.bojeng__logo {
  height: 76px;
  margin: 0px auto;

  &--large {
    height: 420px;

    @media only screen and (max-width: 500px) {
      height: 100px;
    }

    @media only screen and (min-width: 500px) and (max-width: 800px) {
      height: 150px;
    }

    @media only screen and (min-width: 800px) and (max-width: 1300px) {
      height: 250px;
    }

    @media only screen and (min-width: 1300px) and (max-width: 1628px) {
      height: 400px;
    }
  }
}

.flex {
  display: flex;

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0px;

    &--col {
      display: flex;
      flex-direction: column;
      width: 100%;

      &--1 {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &--start {
      justify-content: start;
    }

    @media (max-width: 768px) {
      gap: 0px;
      flex-direction: column;
      &--start {
        align-items: center;
      }
    }

    iframe.spotify-player {
      height: 420px;
      justify-content: flex-start;
      margin: 10px 10px 10px 10px;

      @media (max-width: 768px) {
        height: 100px;
        flex-grow: 1;
        margin: 10px 0px 0px 0px;
      }
    }

    iframe.youtube-player {
      margin: auto;
      border-radius: 2px;
      width: 80%;
      height: 400px;

      @media (max-width: 768px) {
        width: 100%;
        height: 360px;
      }
    }

    .gigs-section {
      margin: 20px 20px 10px 0px;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
        margin: 0px 0px 0px 0px;
      }
    }
  }
}

.presave__button {
  background-color: white;
  color: #070707;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 22px;
  border-radius: 4px;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;

  text-align: center;
  line-height: 1.07;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'TerminaTest', sans-serif;

  @media (max-width: 768px) {
    display: none;
  }
  &:hover {
    background-color: #22d14e;
    color: white;
  }
}

.enter__button {
  background-color: white;
  color: #070707;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px 22px;
  border-radius: 4px;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;

  text-align: center;
  line-height: 1.07;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'TerminaTest', sans-serif;

  @media (max-width: 768px) {
    width: 120px;
    padding: 18px 0px;
    font-size: 10px;
  }
  &:hover {
    background-color: #22d14e;
    color: white;
  }
}

.bojeng__release {
  width: 100%;
  margin-top: 5px;
  margin-right: 10px;
}

.bojeng__presave {
  position: relative;

  &--text {
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-family: 'TerminaTest', sans-serif;
    font-size: 50px;
    display: none;

    @media (max-width: 768px) {
      display: inline;
    }
  }
  :hover {
    color: white;
  }
}

.margin {
  &__top {
    &--2 {
      margin-top: 20px;
    }
  }
  &__bottom {
    &--2 {
      margin-bottom: 20px;
    }
    &--4 {
      margin-bottom: 40px;
    }
    &--auto {
      margin-bottom: auto;
    }
  }
}
