.reactlogo {
  cursor: pointer;
  position: fixed;
  z-index: 5;
  right: 1px;
  top: 1px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  .reactlogo__img {
    position: absolute;
    width: 140px;
    right: -20px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .reactlogo__img {
      animation: App-logo-spin infinite 20s linear;
    }
  }
}
.reactlogo:hover {
  background-color: white;
}
