iframe.spotify-player {
  height: 420px;
  min-width: 364px;
  justify-content: flex-start;

  @media (max-width: 768px) {
    flex-grow: 1;
    min-width: unset;
    margin: 10px 0px 10px 0px;
  }
}
