/* =========================================================
   Sections (Listen / Watch / Shows / Press / Contact)
   ========================================================= */
@font-face {
  font-family: 'TerminaTest';
  src: url('../../assets/font/TerminaTest-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
.section {
  padding: 10px 0;

  &--listen {
    background: var(--bg);
  }

  &--shows {
    // background: var(--bg);
    // background: var(--bg-soft);

    background-image: url('../../assets/photos/DSC03657-4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    &:has(.section__title:hover) {
      background-image: url('../../assets/photos/DSC03657-3.jpg');
    }
    .section {
      &__col {
        max-width: fit-content;
      }
    }
    &__icons {
      margin-top: -10px;
      display: flex;
      gap: 8px;
      justify-content: end;
      a {
        svg {
          font-size: 18px;
        }
      }
    }
  }

  &--contact {
    // background: var(--bg);
    background: var(--bg-soft);
    background-image: url('../../assets/photos/DSC03083-2.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;

    .section__title {
      color: rgb(0, 38, 0);
    }

    img {
      // border-radius: var(--radius);
      /* Mobil */
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    &--space-between {
      justify-content: space-between;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    /* Mobil */
    @media (max-width: 768px) {
      &--mobile {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &--align-items-center {
    align-items: center;
  }

  &__title {
    font-size: clamp(28px, 4.8vw, 36px);
    margin: 0px 0 4px 0;
    font-family: 'TerminaTest', sans-serif;
  }

  &__lede {
    color: var(--muted);
    margin: 6px 0 22px;
  }

  &__fineprint {
    color: var(--muted);
    font-size: 14px;
    margin-top: 8px;
  }
  svg {
    font-size: 28px;
    font-weight: bolder;
  }

  &__img {
    &--maxwidth {
      &-720 {
        max-width: 720px;
      }
    }
    &--maxheight {
      &-420 {
        max-height: 620px;
      }
    }
  }
}

.margin {
  &__left {
    &--auto {
      margin-left: auto;
    }
  }
  &--auto {
    margin: auto;
  }
}
