$fourUBackground: url('../../assets/avatar.jpg'); // Replace with actual path
$aboutBackground: url('../../assets/avatar2.jpg'); // Replace with actual path
// $projectsBackground: url('path-to-projects-background-image.jpg'); // Replace with actual path
// $atmBackground: url('path-to-atm-background-image.jpg'); // Replace with actual path

.category {
    flex: 1 0 49%;
    height: 50vh;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    transition: all 1000ms;
    width: 50%;
    height: 50vh;
    background-size: cover;      // Stretch the image to cover the entire element
    background-repeat: no-repeat; // Prevent image repetition
    margin-bottom: 2.5px;

    &:hover{
        z-index: 1;
    }

    &--open {
        margin: 0;
        transition: all 1000ms;
        height: 140vh;
        width: 100vw;
    }

    &--closed {
       display: none;
    }

    &__foru {
        left: 0;
        top: 0;
        background-image: $fourUBackground;
        background-color: yellow;
    }

    &__about {
        right: 0;
        top: 0;
        background-image: $aboutBackground;
        background-size: 25%;
        background-color: blue;
    }

    &__projects {
        right: 0;
        bottom: 0;
        background-color: green;
    }
    
    &__atm {
        left: 0;
        bottom: 0;
        background-color: red;
    }
  }