
.sidebar {
  width: 30%;
  &--nav{
  background-color: rgba(255, 165, 0, 0.8);
  border: 4px solid rgba(255, 136, 0, 0.8);
  padding: 20px;
  padding-right: 60px;
  width: fit-content;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5em;
  top: 40%;
  margin-left: 20px;
  justify-content: space-evenly;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInSidebar 3s ease-in-out forwards; 
  margin-left: auto;
  .active{
    background-color: rgba(153, 101, 5, 0.8);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  }

}
