.header {
  display: flex; /* Use Flexbox */
  justify-content: center; /*Center horizontally */
  
  height: 200px;
  &__bojeng{
    cursor: pointer;
    font-family: 'Righteous', cursive;
    font-size: 10em;
    font-weight: bold;
    color: orange;
    opacity: 0;
    transition: background-color 0.3s;
    padding: 10px;
    margin-top: 0px;

    &:hover {
      color: red;
      animation: pulse 10s infinite;
    }

    &--fade-in{
      animation: fadeIn 1s ease-in-out forwards; 
    }
    &--fadeout{
      animation: fadeOut 1s ease-in-out forwards; 
    }
  }
}

/* Mobile Styles (up to 767px) */
@media only screen and (max-width: 767px) {

    .header {
      &--none{
        display: none;
      }
      height: 100px;
      &__bojeng{
        opacity: 1;
        &--fadeout{
          animation: fadeIn 1s ease-in-out forwards; 
        }

      }
    }
  

  /* Additional mobile styles can be added here */
}

/* Tablet Styles (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content {

  }

  /* Additional tablet styles can be added here */
}

/* Desktop Styles (992px and above) */
@media only screen and (min-width: 992px) {
  /* No need to adjust container padding for desktop */
  .content {
    
  }

  /* Additional desktop styles can be added here */
}


/* Keyframes for the pulse effect */
@keyframes pulse {
  0% {
    font-size: 10em;
    opacity: 1;
  }
  50% {
    font-size: 15em;
    opacity: 0.7;
  }
  100% {
    font-size: 10em;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
   100% {
    opacity: 1; /* Fade in to opacity 1 */
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1; /* Start with opacity 0 */

  }
  100% {
    opacity: 0; /* Fade in to opacity 1 */
    
  }
}