@font-face {
  font-family: 'Sooky70s';
  src: url('../../../public/fonts/Sooky70s.ttf') format('truetype');
}

.header {
  display: flex; /* Use Flexbox */
  min-height: 100vh;
  justify-content: space-evenly; /*Center horizontally */
  align-items: center;
  flex-direction: column;
  &__bojeng{
    cursor: pointer;
    font-family: 'Sooky70s', sans-serif;
    font-size: 20em;
    
    color: orange;
    animation: zoomHeaderInitAnimation 3s ease-in forwards;
  }

  .soundcloud{
    width:800px; 
    height:100px;
  }
  
  @media only screen and (max-width: 460px) { 
    &__bojeng {
      font-size: 12em;
      animation: zoomHeaderMobileInitAnimation 3s ease-in forwards;
    }
  }
  @media only screen and (min-width: 460px) and (max-width: 768px) { 
    &__bojeng {
      font-size: 14em;
      animation: zoomHeaderMobileInitAnimation 3s ease-in forwards;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 970px) {
    &__bojeng {
      font-size: 14em;
    }
  }
  
  @media only screen and (min-width: 970px) and (max-width: 1070px) {
    &__bojeng {
      font-size: 18em;
    }

  }

  @media only screen and (min-width:  1070px) {
    &__bojeng {
      font-size: 20em;
      animation: zoomHeaderDeskInitAnimation 3s ease-in forwards;
    }
  }
}

@keyframes zoomHeaderMobileInitAnimation {
  0% {
    transform: scale(1);
    position: absolute;
    top: 45%;
  }
  70% {
    transform: scale(1);
    position: absolute;
    top: 45%;
  }
  85% {
    transform: scale(1.3);
    position: absolute;
    top: 45%;
  }
  99% {
    transform: scale(1);
    position: absolute;
    top: 5%;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomHeaderInitAnimation {
  0% {
    transform: scale(1.4);
  }
  80% {
    transform: scale(1.4);
  }
  85% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes zoomHeaderDeskInitAnimation {
  0% {
    transform: scale(1.4);
    margin-top: 20%;

  }
  80% {
    transform: scale(1.4);
 
  }
  85% {
    transform: scale(1.6);
    margin-top: 20%;
  }
  100% {
    transform: scale(1.2);
    margin-top: 0%;
  }
}





