@font-face {
  font-family: 'Sooky70s';
  src: url('../../../public/fonts/Sooky70s.ttf') format('truetype');
}

.container {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > .z-index--1 {
    z-index: 1;
  }
}

.content {
  flex: 1;
  display: flex;

  header {
    margin: 20px;
  }

  &--center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.gif-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-gif {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.bojeng__album {
  height: 600px;
}
.bojeng__logo {
  height: 76px;
  margin: 0px auto;
  &--large {
    height: 420px;

    @media only screen and (max-width: 500px) {
      height: 100px;
    }

    @media only screen and (min-width: 500px) and (max-width: 800px) {
      height: 150px;
    }

    @media only screen and (min-width: 800px) and (max-width: 1300px) {
      height: 250px;
    }

    @media only screen and (min-width: 1300px) and (max-width: 1628px) {
      height: 400px;
    }
  }
}

.section__spotify {
  margin-left: 5rem;
  @media (max-width: 1000px) {
    margin-left: 0rem;
  }
}
