$background: url('../../assets/images/background.jpg');

.container {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; // ändrat från height
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Sooky70s';
  src: url('../../../public/fonts/Sooky70s.ttf') format('truetype');
}

.content {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  &__bojeng {
    cursor: pointer;
    font-family: 'Sooky70s', sans-serif;
    font-size: 20em;
    margin-top: 40px;
    color: orange;
    animation: zoomHeaderInitAnimation 3s ease-in forwards;
    text-align: center;
    z-index: 1;

    &--img {
      height: 200px;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 460px) {
    &__bojeng {
      font-size: 12em;
      animation: zoomHeaderMobileInitAnimation 3s ease-in forwards;

      &--img {
        height: 100px;
      }
    }
  }

  @media only screen and (min-width: 460px) and (max-width: 768px) {
    &__bojeng {
      font-size: 14em;
      animation: zoomHeaderMobileInitAnimation 3s ease-in forwards;

      &--img {
        height: 140px;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 970px) {
    &__bojeng {
      font-size: 14em;

      &--img {
        height: 170px;
      }
    }
  }

  @media only screen and (min-width: 970px) and (max-width: 1070px) {
    &__bojeng {
      font-size: 18em;

      &--img {
        height: 190px;
      }
    }
  }

  @media only screen and (min-width: 1070px) {
    &__bojeng {
      font-size: 20em;
      animation: zoomHeaderDeskInitAnimation 3s ease-in forwards;

      &--img {
        height: 200px;
      }
    }
  }
}

// Tablet Styles (768px to 991px)
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

// Desktop Styles (992px and above)
@media only screen and (min-width: 992px) {
}
